<head>
  <title>2015_Corruption</title>
</head>

<body>
	<header>
	<h1>Meteor</h1>
	</header>
</body>

<template name="recordTemplate">
	<div class="round-button-circle">
	</div>
</template>

<template name="loadingTemplate">
	<div id="floatingCirclesG">
		<div class="f_circleG" id="frotateG_01"></div>
		<div class="f_circleG" id="frotateG_02"></div>
		<div class="f_circleG" id="frotateG_03"></div>
		<div class="f_circleG" id="frotateG_04"></div>
		<div class="f_circleG" id="frotateG_05"></div>
		<div class="f_circleG" id="frotateG_06"></div>
		<div class="f_circleG" id="frotateG_07"></div>
		<div class="f_circleG" id="frotateG_08"></div>
	</div>
</template>

<template name="stopScreenTemplate">
	<div class="stop-square"></div>
</template>

<template name="finishedTemplate">
	<a href="#" class="finished-square">Finished!</a>
</template>






