<template name="loading">
	<head>
		<title>hackathon-merdeka_Loading</title>
	</head>
	
	<body>
		<div id="floatingCircles">
			<div class="f_circle" id="frotate_01></div>
			<div class="f_circle" id="frotate_02></div>
			<div class="f_circle" id="frotate_03></div>
			<div class="f_circle" id="frotate_04></div>
			<div class="f_circle" id="frotate_05></div>
			<div class="f_circle" id="frotate_06></div>
			<div class="f_circle" id="frotate_07></div>
			<div class="f_circle" id="frotate_08></div>
		</div>
	</body>
</template>